@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

.header {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
  }

  &__searchdiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__article {
      width: 100%;
      margin: 1rem 0;
    }

    &__img {
      width: 2.5rem;
      height: 2.5rem;
      margin: 1rem 0 0 1rem;
      border-radius: 50%;
      object-fit: cover;
      flex: none;

      @include tablet {
        order: 1;
      }
    }
  }

  &__buttondiv {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;

    &__icon {
      position: absolute;
      bottom: 8px;
      left: 10px;
      width: 1.4rem;
    }

    &__button {
      height: 2.5rem;
      padding: 1rem;
      background-color: #0095ff;
      width: 100%;
      color: white;
      font-weight: 400;
      border-radius: 5px;
      border: none;

      @include tablet {
        order: 0;
      }
    }
  }
}

.search {
  position: relative;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  &__input {
    border-radius: 5px;
    height: 2.2rem;
    margin: 0;
    padding-left: 2rem;
    width: 100%;
    border-color: #e1e1e1;
    background-color: #fafafa;

    &::placeholder {
      font-size: 0.8rem;
    }
  }

  &__logo {
    position: absolute;
    padding: 0.8rem;
    width: 1rem;
  }
}
