@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/fonts" as *;

body {
  margin: 1rem;

  @include tablet {
    margin: 0 2rem;
  }

  @include desktop {
    margin: 0 auto;
    max-width: 1020px;
  }
  //   @include desktop-innercontent;
}
