@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/fonts" as *;
@import "./components/Video/VideoPlayer.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 1rem;

  @include tablet {
    margin: 0 2rem;
    position: static;
  }

  @include desktop {
    margin: 0 auto;
    max-width: 1020px;
    position: static;
  }
  //   @include desktop-innercontent;
}

.menu {
  display: flex;
  flex-direction: column;

  @include desktop {
    flex-direction: row;

    &__desktop-div {
      margin-right: 1rem;
      margin-bottom: 5rem;
    }
  }
}
